<form>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Login:</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-input-container class="full-width">
                <input matInput type="text" placeholder="Your Email">
            </mat-input-container>
            <mat-input-container class="full-width">
                <input matInput type="password" placeholder="Your Password">
            </mat-input-container>
            <button mat-raised-button button type="button" color="primary">Login</button>
        </mat-card-content>
        <mat-card-actions class="text-right">
            <p>No Account? <a routerLink="/register">Register</a></p>
            <p>Forgot Password? <a href="">Find</a></p>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Every Day Motto
            </mat-card-title>
            <mat-card-subtitle>

            </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/img/quote_fallback.jpg">
        <mat-card-content>
            dsadsadaa
        </mat-card-content>
    </mat-card>
</form>